<h1>{{model.state-rank}} {{politician.title}} {{model.first_name}} {{model.last_name}}, {{model.party}}</h1>

<p><b>Chamber:</b> {{model.chamber}}<br>
  {{#if model.district}}
     <b>District:</b> {{model.district}}<br>
    {{else}}
  <b>District:</b> <i>(none)</i>
  {{/if}}<br>

  </p>

   <div class="contact">
   <p>
     <b>Office:</b> {{model.office}}<br>
     <b>Contact Form:</b> {{model.contact_form}}<br>
     <b>Fax:</b> {{model.fax}}<br>
     <b>Phone:</b> {{model.phone}}<br>
     <b>Twitter:</b> {{model.twitter_id}}<br>
     {{#if model.facebook}}
     <b>Facebook:</b> {{model.facebook_id}}<br>
     {{else}}
     <b>Facebook:</b> <i>(none)</i><br>
     {{/if}}

     <b>Website:</b> <a href={{model.website}}>{{model.first_name}} {{model.last_name}}'s Webpage</a><br>
     <b>Youtube:</b> {{model.youtube_id}}<br>
   </p>
   </div>


 {{#each model as |bill|}}
   {{legislator-bills model=model}}
 {{/each}}
